body{
    display: block;
    background: rgb(246, 232, 232);
}

.rubrica{
    text-transform: capitalize;
    font-size: 450;
    font-size: 35px;
    margin-bottom: 25px;
}

.form{
    width: 100%;
    padding: 25px 15vw;
}

.dialoguri-de-completat{
    display:flex;
    justify-content:space-between;
}


.form input{
    background: #fffbfb !important;
    width: 100% !important;
}


#state{
    margin: 0 0px !important;
}

.dialoguri-de-completat input{
    margin: 0 !important;
}

